* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  background-color: slategray;
}

.grid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
}

.grid > div {
  height: 49px;
  width: 49px;
  margin: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valid, 
.bomb {
  border: solid 5px;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.checked {
  font-size: 30px;
  background-color: darkgrey;
  border: solid  2px;
  border-color: gray;
}

.bomb {
  /* background-color: orange; */
}

.flag {
  /* background-color: yellow; */
}

.flags-remaining {
  font-size: 30px;
  text-align: center;
}